.loading-screen {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.loading-text {
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: large;
}
