.ranking {
  margin-right: 15px;
  margin-left: 15px;
}

.toggle-button {
  margin-bottom: 15px;
}

.toggle-button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.ranking--block {
  height: 77.5vh;
  padding: 8px 20px;
  overflow: scroll;
  border: 2px solid var(--babichat-color);
  border-radius: 16px;
}

.ranking--block::-webkit-scrollbar {
  display: none;
}

.ranking--post {
  align-items: center;
  margin: 6px 16px 0;
  border-bottom: 1px solid var(--babichat-color);
}

.rank-index {
  margin: 5px 0;
  color: var(--babichat-color);
  font-size: 32px;
  font-weight: bold;
}

.text {
  color: var(--babichat-color);
  font-size: 16px;
}
