.login-page {
  margin-top: 200px;
  text-align: center;
  padding-right: 200px;
}

.login-form {
  text-align: center;
}

.signIn-input {
  width: 63%;
  height: 52px;
  margin-bottom: 10px;
  padding: 2px;
  border: 2px solid var(--babichat-color);
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
}

.signIn-input::placeholder {
  color: var(--babichat-color);
  font-size: 1.6em;
  font-style: italic;
  text-align: center;
}

.signIn-button {
  width: 64%;
  height: 55px;
  margin-bottom: 10px;
  background-color: var(--babichat-color);
  /* border-color: var(--babichat-color); */
  color: #ffffff;
  padding: 2px;
  border: 2px solid var(--babichat-color);
  border-radius: 4px;
  font-size: 16px;
  font-style: italic;
}

.link-block {
  margin-bottom: 18px;
}

.link-text {
  color: var(--babichat-color);
}
