.timeline--block {
  margin-top: 10px;
  padding: 8px 20px;
  border: 2px solid var(--babichat-color);
  border-radius: 16px;
  overflow: scroll;
  height: 72vh;
}

.timeline--block::-webkit-scrollbar {
  display: none;
}
