.timeline {
  margin-right: 15px;
  margin-left: 15px;
}

.timeline--block {
  height: 75.4vh;
  overflow: scroll;
  margin-top: 10px;
  padding: 8px 20px;
  border: 2px solid var(--babichat-color);
  border-radius: 16px;
}

.timeline--block::-webkit-scrollbar {
  display: none;
}
