.container-box {
  padding: 8px;
  border: 2px solid var(--babichat-color);
  border-radius: 16px;
}

.scroll-box {
  overflow: scroll;
}

.scroll-box::-webkit-scrollbar {
  display: none;
}

.container-box--item {
  margin: 0;
  padding: 0;
}

.text {
  color: var(--babichat-color);
  font-size: 16px;
}

.hover-text {
  color: var(--babichat-color);
  font-size: 16px;
}

.hover-text:hover {
  color: var(--babichat-background);
  cursor: pointer;
  transition: opacity 0.15s ease-out;
}

/* IsLoadingGrid.tsx */

.block-label {
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
  text-align: center;
  color: var(--babichat-color);
  font-weight: bold;
  font-size: 20px;
}
