.sidebar {
  border-right: 1px solid var(--babichat-color);
  border-radius: 20px;
  min-width: 200px;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 20px;
  padding-bottom: 40px;
  background-color: var(--babichat-color);
  margin-top: 16px;
  height: 88vh;
}

.sidebar--option {
  padding-left: 20px;
  cursor: pointer;
}

.sidebar--option:hover {
  opacity: 40%;
  transition: opacity 0.15s ease-out;
}
