.sidebar {
  height: 88vh;
  min-width: 200px;
  margin-top: 16px;
  padding: 20px 5px 40px;
  border-right: 1px solid var(--babichat-color);
  border-radius: 20px;
  background-color: var(--babichat-color);
}

.logo {
  margin-top: 5px;
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-family: 'Mochiy Pop P One', sans-serif;
}

.sidebar--option {
  padding-left: 20px;
  cursor: pointer;
}

.sidebar--option:hover {
  opacity: 40%;
  transition: opacity 0.15s ease-out;
}

.profile-block {
  margin-bottom: 12px;
  text-align: center;
}

.account-text {
  color: #fff;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 22px;
}
