.says {
  text-align: left;
  max-width: 250px;
}

.you {
  padding-left: 20px;
  padding-top: 20px;
  text-align: left;
  margin-bottom: 10px;
}

.you .says {
  display: inline-block;
  position: relative;
  margin: 0 10px 0px 30px;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: var(--babichat-color);
  font-size: 15px;
  color: var(--babichat-background);
}

.you .says:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid var(--babichat-color);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.me {
  text-align: right;
  padding-right: 20px;
  padding-top: 25px;
  margin-bottom: 10px;
}

.me .says {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
  font-size: 15px;
}

.me .says:after {
  content: '';
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #edf1ee;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.change {
  font-size: 0.5px;
  color: var(--babichat-color);
  /* margin-left: 35px; */
}

.me .change {
  text-align: center;
}

.help {
  width: 20%;
  display: flex;
  /* justify-content: space-between; */
  font-size: 10px;
}

.me .help {
  text-align: right;
  margin-left: 87%;
}

.me .sendTime {
  margin-top: 0;
  height: 15px;
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid black;
}

.you .help {
  margin-left: 4%;
}

.you .sendTime {
  margin-top: 0;
  height: 15px;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid black;
}
