.grid {

    border: 2px solid var(--babichat-color);
  border-radius: 16px;
    overflow: auto;;
}

.header {
  width: 200px;
  height: 50px;
}

.chat-screen {
  height: 600px;
  padding-bottom: 10px;
  /* margin: 15px auto; */
  font-size: 14px;
  background: #7da4cd;
>>>>>>> develop
}

.chat-screen::-webkit-scrollbar {
  display: none;
}

.message {
    padding-bottom: 10px;
}

.input-form {
    padding-top: 7px;
}

