.chat-screen {
  height: 75vh;
  border: 2px solid var(--babichat-color);
  border-radius: 16px 16px 0 0px;
  border-bottom: transparent;
  overflow: scroll;
  font-size: 14px;
}

.chat-screen::-webkit-scrollbar {
  display: none;
}

.message {
  padding-bottom: 20px;
}

.input-form {
  height: 25px;
  text-align: center;
  border: 2px solid var(--babichat-color);
  border-radius: 0 0 16px 16px;
  background-color: rgb(255, 255, 255);
  padding: 10px 0px 20px 0 ;
}
