.main-box {
  height: 80vh;
}

.grid {
  border: 2px solid var(--babichat-color);
  border-radius: 16px;
  overflow: auto;
}

.header {
  width: 200px;
  height: 50px;
}

.chat-screen {
  height: 570px;
  padding-bottom: 10px;
  font-size: 14px;
}

.chat-screen::-webkit-scrollbar {
  display: none;
}

.message {
  padding-bottom: 10px;
}

.input-form {
  padding-left: 50px;
  padding-top: 7px;
}
