.input-box {
  width: 78%;
  margin-bottom: -3px;
  padding: 10px 20px;
  border: 2px solid var(--babichat-color);
  border-radius: 16px;
  font-size: 15px;
  font-weight: 550;
}

.postBox-postButton {
  margin-left: 20px;
  margin-bottom: -5px;
  padding: 10px, 0, 0, 10px;
}
