.userlist {
  position: relative;
  height: 84vh;
  overflow: auto;
  border: 2px solid var(--babichat-color);
  border-radius: 16px;
}

.userlist::-webkit-scrollbar {
  display: none;
}

.userlist-title {
  position: sticky;
  top:3.5vh;
  z-index: 2;
  height: 25px;
  line-height: 25px;
  color: var(--babichat-color);
  background-color: white;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 25px;
  border-bottom: 2px solid var(--babichat-color);
}
