.user-info {
  display: flex;
  padding: 10px 0px 0px 10px;
  border-bottom: 1px solid var(--babichat-color);
}

.username {
  height: 35px;
  padding: 0px 10px 5px;
  line-height: 35px;
  text-align: left;
}
