.userlist {
  height: 83vh;
  overflow: auto;
  border: 2px solid var(--babichat-color);
  box-shadow: 7px 10px 20px 0px rgba(0, 0, 0, .5);
  border-radius: 16px;
}

.userlist::-webkit-scrollbar {
  display: none;
}

.userlist-title {
  height: 25px;
  line-height: 25px;
  color: var(--babichat-color);
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 25px;
  border-bottom: 2px solid var(--babichat-color);
}
