.userlist {
  position: relative;
  height: 81.5vh;
  overflow: scroll;
  border: 2px solid var(--babichat-color);
  border-radius: 16px;
}

.userlist::-webkit-scrollbar {
  display: none;
}

.userlist-title {
  position: sticky;
  top: 3.5vh;
  z-index: 2;
  height: 25px;
  padding-bottom: 25px;
  border-bottom: 2px solid var(--babichat-color);
  background-color: white;
  color: var(--babichat-color);
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  font-family: 'Mochiy Pop P One', sans-serif;
  text-align: center;
}
